node_modules/
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
*.log

# Android build artifacts
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/*.iml
android/.idea/
*.apk
*.aab
